<tr>
    <td>
        <b>{{ element.title }}</b>
        <p>{{ element.description }}</p>
    </td>
    <td>{{ element.type|readable }}</td>
    <td>
        <a href="{{ element.value }}" class="btn">
            <i class="fa fa-external-link"></i>
        </a>
    </td>
</tr>
