{# src/Callisto/FichesBundle/Resources/views/Default/fiche.html.twig #}

{% extends "CallistoFichesBundle:Default:index.html.twig" %}

{% block callisto_content %}



    <div align="left">
        <img src="{{ asset('bundles/callistofiches/images/icons/faq.png') }}" alt="chercher une fiche">
    </div>
    <div align="left">
        <h1>FAQ - Questions fréquentes et réalisation</h1>
    </div>

    <table id="mytable" class="tablesorter" cellpadding="1" cellspacing="1" >
        <thead>
            <tr>
                <th colspan="2" style="color:navy;"><strong>Quelle résolution choisir pour scanner une image ?</strong><br /></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="2">300 dpi est la valeur par défaut pour tout scanning d'image</td>

            </tr>
        </tbody>
    </table>



    <table id="mytable" class="tablesorter" cellpadding="1" cellspacing="1" >
        <thead>
            <tr>
                <th colspan="2" style="color:navy;"><strong>Puis-je ajouter des images ou des fiches en tant qu'étudiant ?</strong><br /></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="2">Oui si vous faites partie du projet ! Vos fiches devront être validées par un professeur avant de faire partie de la BDD officielle.</td>

            </tr>
        </tbody>
    </table>


        <table id="mytable" class="tablesorter" cellpadding="1" cellspacing="1" >
        <thead>
            <tr>
                <th colspan="2" style="color:navy;"><strong>Que signifie le petit icône vert sur certaines fiches?</strong><br /></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="2">Ce petit icône verte indique que la fiche fait également partie de la base de données enfants.</td>

            </tr>
        </tbody>
    </table>


        <table id="mytable" class="tablesorter" cellpadding="1" cellspacing="1" >
        <thead>
            <tr>
                <th colspan="2" style="color:navy;"><strong>Votre question</strong><br /></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="2">Votre réponse</td>

            </tr>
        </tbody>
    </table>

{% endblock %}
