.main {background-image: url("http://unifr.ch/images/background_main.gif"); background-repeat: repeat-y;}
@media (max-width: 767px) {
    .main {background-image: none;}
}
.navbar-inner {
    background-color: #006699;
    background-image: none;
    background-repeat: repeat-x;
    border: 0px solid #D4D4D4;
    border-radius: 0;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
    min-height: 0px;
    padding-left: 20px;
    padding-right: 20px;
    color: #FFFFFF;
    filter: none;
}
.navbar a {
    color: #FFFFFF;
}
.navbar .nav > li > a, .navbar .nav > li > a:hover {
    color: #FFFFFF;
    text-shadow: 0 0px 0 #FFFFFF;
    border: 0 1px 0 1px solid #FFFFFF;
    padding: 5px;
    text-transform: uppercase;
}
.navbar .brand {
    color: #FFFFFF;
    display: block;
    float: left;
    font-size: 20px;
    font-weight: 200;
    margin-left: -10px;
    padding: 5px 10px;
    text-shadow: 0 0px 0 #FFFFFF;
    text-decoration: none;
    width: 170px;
}
body > .container {
    border-color: #FFFFFF #CCCCCC #CCCCCC;
    border-style: solid;
    border-width: 1px;
}
.box001 {
    margin-left: -10px;
}
.annexes {
    float: left;
    width: 30%;
}
.clear {
    clear: both;
}
h1 {
    font-size: 22px;
    font-weight: bold;
}
#gallery a img {
    height: 50px;
    margin: 0 0 10px 0;
}

#address2 .txt {
    background-color: #FFFFFF;
    bottom: 0;
    color: #565656;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    line-height: 14px;
    padding-bottom: 16px;
    padding-right: 12px;
    padding-top: 34px;
    position: absolute;
    right: 0;
    text-align: right;
    text-transform: uppercase;
    vertical-align: bottom;
    text-decoration: none;
}

#identity #address2 a {
    color: #565656;
    text-decoration: none;
}

#webpage2 {
    text-align: left;
}

.resources {
    margin-top: 10px;
    font-size: 13px;
}
.resources a {
    text-decoration: none;
}
