/* tables */
table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	margin:20px 0pt 0px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #F0F6F9;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
}
table.tablesorter thead tr .header {
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
/*FJ*/
table.tablesorter tbody tr div {
	color: #3D3D3D;
	padding: 0px;
	background-color: lightgray;
	vertical-align: top;
}

@media print {
    table.tablesorter tbody tr div {
	color: #3D3D3D;
	padding: 0px;
	background-color: lightgray;
	vertical-align: top;
}

    h2 {
      color: gray;
    }



table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}

h1.shorty {
	width: 500px;
	float:left;
}
a.print {
	background-image:url(../../images/icons/printer.png);
	background-repeat:no-repeat;
	display:block;
	float:left;
	height:20px;
	margin-top:5px;
	padding-left:20px;
	width:20px;
}
div.bar {	
	height: 30px;
}


