{# src/Callisto/FichesBundle/Resources/views/Resources/index.html.twig #}

{% extends "CallistoFichesBundle:Default:index.html.twig" %}

{% block callisto_content %}
    <div class="row">
        <div class="span12">
            <div class="page-header">
                <h1>Ressources</h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="span12">
            <ul class="nav nav-tabs" id="resourcesTab">
                <li class="active"><a href="#links">Ressources en ligne</a></li>
                <li><a href="#tbs">Bibliographies thématiques</a></li>
                <li><a href="#others">Autres documents</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="links">{% include "CallistoFichesBundle:Resources:index/links.html.twig" %}</div>
                <div class="tab-pane" id="tbs">{% include "CallistoFichesBundle:Resources:index/tbs.html.twig" %}</div>
                <div class="tab-pane" id="others">{% include "CallistoFichesBundle:Resources:index/others.html.twig" %}</div>
            </div>
        </div>
    </div>

    <script>
        $(function () {
            $('#resourcesTab a').click(function (e) {
                e.preventDefault();
                $(this).tab('show');
            });
        })
    </script>
{% endblock %}
