{% extends "CallistoFichesBundle:Default:email.html.twig" %}

{% block content %}
<html>
<head>
    <title>{{ titre }} - Callisto - UniFR</title>
</head>
<body>
    {{ parent() }}
</body>
</html>
{% endblock %}
